<h1>Battle!</h1>
<% if @attack %>
  <p>
    You have hit <%= @player2 %>.
  </P>
<% end %>
<p>
  <%= @player1 %> vs <%= @player2 %>
</p>
<p>
  <%= @player2 %> has <%= @points2 %>HP.
</p>
<form action="/attack" method="POST">
  <button type="submit" name="attack" value="true">Attack</button>
</form>
