<h1>Battle!</h1>
<% if @attack %>
  <p>
    You have hit <%= @player2.name %>.
  </P>
<% end %>
<p>
  <%= @player1.name %> vs <%= @player2.name %>
</p>
<p>
  <%= @player1.name %> has <%= @player1.hp %>HP.
</p>
<p>
  <%= @player2.name %> has <%= @player2.hp %>HP.
</p>
<form action="/attack" method="POST">
  <button type="submit" name="attack" value="true">Attack</button>
</form>
