<h1>Battle!</h1>
<%= @game.message %>
<p>
  <%= @player1.name %> vs <%= @player2.name %>
</p>
<p>
  <%= @player1.name %> has <%= @player1.hp %>HP.
</p>
<p>
  <%= @player2.name %> has <%= @player2.hp %>HP.
</p>

<form action="/attack" method="POST">
  <button type="submit" name="attack" value="true">Attack</button>
</form>
