<p>
  Welcome <%= @player_1_name %> and <%= @player_2_name %>!
</p>

<p>
  <%= @player_1_name %> has <%= @player_1_hp %> HP. 
  <form action="/attack_player_2" method="GET">
    <button value="Attack Player 2" type="submit">Attack Opponent!</button>
  </form>
</p>

<p>
  <%= @player_2_name %> has <%= @player_2_hp %> HP.
</p>