<h1>Battle!</h1>
<p>
  <%= @game.message %>
</p>
<p>
  It's <%= @game.attacker.name %>'s turn to attack.
</p>
<p>
  <%= $game.player_1.name %> vs <%= $game.player_2.name %>
</p>
<p>
  <%= @player1.name %> has <%= @player1.hp %>HP.
</p>
<p>
  <%= @player2.name %> has <%= @player2.hp %>HP.
</p>

<form action="/attack" method="POST">
  <button type="submit" name="attack" value="true">Attack!</button>
</form>
<form action="/switch" method="POST">
  <button type="submit" value="true">Switch Turns!</button>
</form>
