<h1>Battle!</h1>
<p>
  <%= @game.message %>
</p>
<p>
  It's <%= @game.attacker.name %>'s turn to attack.
</p>
<p>
  <%= @player1.name %> vs <%= @player2.name %>
</p>
<p>
  <%= @player1.name %> has <%= @player1.hp %>HP.
</p>
<p>
  <%= @player2.name %> has <%= @player2.hp %>HP.
</p>
<% unless (@player1.hp == 0 || @player2.hp == 0) %>
  <form action="/attack" method="POST">
    <button type="submit" name="attack" value="true">Attack!</button>
  </form>
  <form action="/attack" method="POST">
    <input type="hidden" name="hp" value="20"> 
    <button type="submit" name="attack" value="true">Power Attack!</button>
  </form>
  <form action="/switch" method="POST">
    <button type="submit" value="true">Switch Turns!</button>
  </form>
<% else %>
  <form action="/" method="GET">
    <button type="submit" name="attack" value="true">Play Again</button>
  </form>
<% end %>
